In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

df = pd.read_csv('C:\\Users\\SUVARNA\\Food Recommendation\\Data Processing\\recent_activity.csv')
df_data = pd.read_csv('C:\\Users\SUVARNA\\Food Recommendation\\Data Processing\\dataset.csv')
df.head(10)

   User_Id    Meal_Id  Rated  Liked  Searched  Purchased            Timestamp
0  User_18   meal_id3      0      0         1          1  2020-03-02 00:06:48
1  User_82   meal_id6      0      1         0          0  2020-03-02 18:11:54
2  User_37  meal_id14      0      0         1          0  2020-03-03 00:13:36
3  User_16  meal_id18      1      0         0          0  2020-03-03 08:15:52
4  User_12  meal_id19      0      0         1          1  2020-03-03 20:19:16
5  User_84  meal_id24      0      1         0          1  2020-03-09 00:54:24
6  User_53  meal_id25      0      0         1          1  2020-03-12 05:15:56
7  User_48  meal_id26      0      1         0          0  2020-03-13 05:22:44
8  User_82  meal_id32      0      0         1          1  2020-03-14 13:31:48
9  User_49  meal_id29      0      1         0          1  2020-03-16 05:43:08

In [3]:
meal_ids = list(df.Meal_Id.unique())
recent_data = df_data[df_data.Meal_Id.isin(meal_ids)][['Nutrient','catagory','Disease','Diet']].reset_index(drop=True)

In [6]:
#plt.figure(figsize=(15,20))
#plt.subplot(3,1,1)
#plt.xticks(rotation=45)
#plt.title('Nutrient,Disease and diet populrity  in Recent activities')
print(recent_data.Nutrient.value_counts())

#sns.countplot(recent_data.Nutrient)
disease = []
for i in range(recent_data.shape[0]):
    for j in recent_data.loc[i,'Disease'].split():
        disease.append(j)

#plt.subplot(3,1,2)    
#sns.countplot(disease)
#plt.xticks(rotation=45)

diet = []
for i in range(recent_data.shape[0]):
    for j in recent_data.loc[i,'Diet'].split():
        diet.append(j)

#plt.subplot(3,1,3)    
#sns.countplot(diet)
#plt.xticks(rotation=45)

calcium          19
magnesium        14
iron             13
protien           8
fiber             6
vitamin_a         6
carbohydrates     5
selenium          4
vitamin_d         3
vitamin_e         1
vitamin_c         1
Name: Nutrient, dtype: int64

In [5]:
value_counts = recent_data.Nutrient.value_counts()
m = recent_data.Nutrient.value_counts().mean()
print('mean occurance',m)
features = list(value_counts[recent_data.Nutrient.value_counts()>m].index)
value_counts[recent_data.Nutrient.value_counts()>m]

mean occurance 9.777777777777779

calcium      27
magnesium    16
iron         15
Name: Nutrient, dtype: int64

In [6]:
a = dict(Counter(disease))
# a = sorted(a.items(),key = lambda k:k[1],reverse=True)
print('mean occurance',np.mean(list(a.values())))
m = np.mean(list(a.values()))
for i in a.items():
    if i[1]>m:
        print(i)
        features.append(i[0])

mean occurance 33.18181818181818
('heart_disease', 34)
('goitre', 67)
('pregnancy', 40)
('diabeties', 60)
('obesity', 41)

In [7]:
a = dict(Counter(diet))
# a = sorted(a.items(),key = lambda k:k[1],reverse=True)
print('mean occurance',np.mean(list(a.values())))
m = np.mean(list(a.values()))
for i in a.items():
    if i[1]>m:
        print(i)
        features.append(i[0])

mean occurance 53.714285714285715
('ketogenic_diet', 81)
('high_protien_diet', 73)
('low_fat_diet', 63)
('vegan_diet', 64)
('high_fiber_diet', 58)

In [8]:
print(features)

['calcium', 'magnesium', 'iron', 'heart_disease', 'goitre', 'pregnancy', 'diabeties', 'obesity', 'ketogenic_diet', 'high_protien_diet', 'low_fat_diet', 'vegan_diet', 'high_fiber_diet']